
.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  h2{
    text-align: center;
  }

  .form label,
  .form input,
  .form button {
    display: block;
    margin: 10px;
    border-radius: 2px;
    border-color: green;

  }

  .form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }